*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0px 6px 3px rgb(0 0 0 / 30%);
    border-bottom: 2px solid;
}
.menuItem{
    display: flex;
    list-style-type: none;
  
}
.backbtn{
    background: transparent;
    border: none;
    font-weight: bold;
}
.backbtn a{
    text-decoration: none;
}
.item{
    margin: 0 10px;
    font-weight: bold;
    
}
.item a{
    text-decoration: none;
    color: #333;
    
}

.searchBox{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.moreCat{
 cursor: pointer;
   z-index: 1;
   position: relative;

}
.catItem:hover{
    background: #dcdcdc;
    padding: 5px;
    border-radius:5px
}

.moreCat:hover .moreCategories{
    top: 30px;
}
.moreCategories{
    list-style-type: none;
    position: absolute;
    z-index: 5;
    background: #fff;
    height: 131px;
    top:-200px;
    border:none;
    transition: 1s linear;
    width: 155px;
    overflow: scroll;
    overflow-x: hidden;

    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
.moreCategories li{
    padding: 5px 0;
}

.inputBox{
    padding: 4px 12px;
    /* border: none; */
    border-radius: 14px;
    outline: none;
}

.searchBtn{
    padding: 4px 11px;
    background: #0085ff;
    border-radius: 13px;
    border: none;
}
.searchBtn:disabled{
    background: #dcdcdc;
}


.moreCategories::-webkit-scrollbar {
    width: 8px;              
  }
  
  .moreCategories::-webkit-scrollbar-track {
    background: #fff; 
    border:1px solid #dcdcdc;
    border-radius:10px       
  }
  
  .moreCategories::-webkit-scrollbar-thumb {
    background-color: #0085ff;    
    border-radius: 20px;      
    
  }

  @media (max-width:1028px){
     .header{
        padding: 15px 10px;
     }
     .menuItem{
        font-size: 14px;
     }

     .inputBox{
        width: 170px;
     }
  }

  @media (max-width:890px){
    .header{
       padding: 15px 10px;
       justify-content: start;
    }
    .menuItem{
       font-size: 14px;
    }
    .searchBox{
        display: flex;
width: 0;
}
    .inputBox{
        width: 139px;
        margin: 0 8px;
    }
 }